*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    background-color:#fff0f3 ;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.window{
    display: none;
    background-color:white;
    padding: 1.5rem;
    min-width: 600px;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 0 10px 40px  rgba(0, 0, 0, 0.1);
}
 
.window.active{
    display: block;
}

.window h1{
    color:#ff4d6d;
    margin-bottom: 2rem ;
    font-size: 2.5rem;
}

button{
    color:white;
    background-color: #ff4d6d;
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
    font-size: 1.2rem;
    margin-top: 1rem;
    transition: all ease 0.3s;
    cursor: pointer;

}

button:hover{
    background-color: #ff758f;
    /* color: black; */
}

.window p{
    color: black;
    font-size: 1.1rem;
    margin: 20px 0;
}

.quiz-header{
    text-align: center;
}
.quiz-info{
    padding: 0 1rem ;
    display: flex;
    justify-content: space-between;
}
.question{
    font-size: 1.5rem;
    font-weight: bold;

}
.quiz-questions{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 25px;
}

.answer-btn{
    background-color: #ffb3c1;
    border:2px solid #ff758f;
    border-radius: 10px;
    text-align: left;
    padding: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.answer-btn:hover{
    background-color: #ff758f;
    border: 2px solid #ff4d6d;
}

.answer-btn.correct{
    background-color: #9ef01a;
    border: 2px solid #70e000;
}
.answer-btn.wrong{
    background-color: #ce4257;
    border: 2px solid #720026;
}

.progressbar{
    height: 10px;
    background-color: #ff8fa3;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 20px;
}

#progress{
    height: 100%;
    width: 10%;
    background-color: #c9184a;
    transition:all 0.3s ease;
}

.result-box{
    background-color:#fff0f3;
    margin: 3rem;
    padding: 2rem;
    border-radius: 10px;
    /* border: 1px solid  #ff4d6d; */
    color: #ff4d6d;
}